#abc{
background: #3299a8;
}

#ab{
 background:  #9999ff;

}

#abcd{
  background:#ADD8E6	;
}

#abcde {
  background: #D8BFD8;
}

#abcdef, #vehicle
{
  background: #8FBC8F;
}

#abcdefg
{
  background: #FFA07A;
}
